<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <p>Data User</p>
    <form action="/kirim_data" method="POST">
      <input type="text" name='nama'>
      <button type="submit">Kirim</button>
    </form>
    <ul>
      <% data.forEach(function(user){ %>
        <li><%= user.nama %> <a href='/hapus/<%= user.id %>'>[x]</a></li>
      <% }) %>
    </ul>
  </body>
</html>
